<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ECharts</title>

    <!-- 引入 echarts.js -->
</head>
<body>
<a href="/ws">温湿度显示</a>
<a href="/qy">气压雨量显示</a>
<a href="/fsfx">风速风向显示</a>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="left:1%;top:10%;width: 900px;height:600px;"></div>

<script type="text/javascript" src="static/jquery-3.3.1.js"></script>
<script type="text/javascript" src="static/echarts.min.js"></script>
<script type="text/javascript">
        var myChart = echarts.init(document.getElementById('main'));
         // 显示标题，图例和空的坐标轴
        var  option = {
            title: {
                text: '两小时内风速风向图',
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    animation: false
                }
            },
            grid: [
                {left : '1%', top: '7%', width: '38%', height: '38%'},
                {left : '50%', top: '7%', width: '38%', height: '38%'},
                {left : '1%', top: '40%', width: '38%', height: '38%'},
                {left : '50%', top: '40%', width: '38%', height: '38%'},
            ],
           // legend: {
            //    data:['风速','风向'],
           // },
            axisPointer: {
                link: {
                    xAxisIndex: 'all'
                }
            },
            dataZoom: [{
                show: true,
                realtime: true,
                start: 30,
                end: 70,
                xAxisIndex: [0, 1]
                }, {
                    type: 'inside',
                    realtime: true,
                    start: 30,
                    end: 70,
                    xAxisIndex: [0, 1]
                }
            ],
            grid: [{
                left: 50,
                right: 50,
                height: '35%'
            },{
                left: 50,
                right: 50,
                height: '35%'
            }],
            xAxis : [{
                type : 'category',
                boundaryGap : false,
                data:[]
            },{
                gridIndex: 1,
                type : 'category',
                boundaryGap : false,
                data: []
//                position: 'top'
            }],
            yAxis : [{
                name : '风速(m/s)',
                type : 'value',
                scale:true,
                axisLabel: {
                    formatter: '{value}m/s'
                }
            },{
                gridIndex: 1,
                name : '风向(%)',
                type : 'value',
                scale:true,
                axisLabel: {
                    formatter: '{value}%'
                }
//                inverse: true
            }],
            series : [{
                name:'风速',
                type:'line',
//                hoverAnimation: true,
                data:[],
                markPoint : {
                        data : [
                            {type : 'max', name: '最大值'},
                            {type : 'min', name: '最小值'}
                        ]
                    },
                    markLine : {
                        data : [
                            {type : 'average', name: '平均值'}
                        ]
                    }
            }, {
                name:'风向',
                type:'bar',
                xAxisIndex: 1,
                yAxisIndex: 1,
                data: [],
                markPoint : {
                        data : [
                            {type : 'max', name: '最大值'},
                            {type : 'min', name: '最小值'}
                        ]
                    },
                    markLine : {
                        data : [
                            {type : 'average', name: '平均值'}
                        ]
                    }
            }]
        };
        myChart.setOption(option);
        //myChart.showLoading();    //数据加载完之前先显示一段简单的loading动画
        var names=[];    //名称数组（实际用来盛放X轴坐标值）
        var fengsu=[];    //数量数组（实际用来盛放Y坐标值）
        var fengxiang=[];

    </script>
</body>
</html>